
:root{
    --body-color: #f1f1f1;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.2s ease;
    --tran-04: all 0.2s ease;
    --tran-05: all 0.2s ease;
}

.gradoTitulo{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 40px;
}

.grados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}

.itemGrado{
    width: 220px;
    height: 140px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    cursor: pointer;
}

.itemGrado .gradoIcon{
    font-size: 60px;
    color: var(--primary-color);
}

.itemGrado .parrafoGrado{
    text-transform: uppercase;
    font-size: 27px;
    color: #707070;
}

body.dark .itemGrado .gradoIcon{
    color: white;
}

body.dark .itemGrado .parrafoGrado{
    color: white;
}

body.dark .itemGrado{
    background: var(--primary-color-light);
}