

.conten_letivo{
    padding: 30px 0px 30px 30px;
}

.button_letivo{
    display: flex;
    gap: 10px;
    padding: 10px 30px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #28a745;
    background: #28a745;
    border-radius: 5px;
    color: white;
}

.content_card_letivo{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.item_letivo{
    width: 30%;
    height: 450px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    cursor: pointer;
    border-radius: 5px;
    text-transform: none;
    color: inherit;
    text-decoration: none;
}

body.dark .item_letivo{
    background: #242526;
}

.image_letivo{
    width: 80%;
    margin: 20px auto;
    padding-top: 20px;
    height: 230px;
}

.image_letivo img{
    width: 100%;
    height: 100%;
}

.data_letivo span{
    font-weight: 300;
    text-transform: uppercase;
}

.data_letivo h2{
    text-align: center;
    text-transform: uppercase;
}

.data_letivo h3{
    margin-left: 30px;
    text-transform: uppercase;
}

.data_letivo hr{
    width: 50%;
    margin: 10px auto 0px auto;
    height: 0.5px;
    border: none;
    border-top: 1px solid #999;
    background-color: #fff;
}

.form_letivo{
    margin-top: 20px;
    display: none;
}

.form_letivo form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.input_letivo{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.input_letivo input{
    width: 280px;
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    outline: none;
    border-radius: 5px;
}

.input_letivo input:focus{
    border: 2px solid #2684FF;
}

.input_letivo label{
    text-transform: uppercase;
    font-weight: 300;
}

.input_letivo button{
    margin-top: 25px;
    padding: 7px 30px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #28a745;
    background: #28a745;
    border-radius: 5px;
    color: white;
}