
.conten_materias{
    width: 100%;
    height: 100vh;
    position: relative;
}

.ventana_materias{
    width: 100%;
    height: 100%;
    background: #33333380;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

body.dark .ventana_materias{
    background: #CCCCCC80;
}

.cabezera_materias{
    padding: 30px 0px 0px 30px;
}

.conten_materias button{
    padding: 10px 20px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    background: #28a745;
    border: 1px solid #28a745;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    align-items: center;
}

.form_materias{
    width: 45%;
    height: 50vh;
    background: white;
    display: none;
    margin-top: 20px;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    border-radius: 5px;
}

body.dark .form_materias{
    background: #242526;
}

.ventana_materias .form_materias{
    display: block;
}

.form_materias i{
    float: right;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.form_materias form {
    margin-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_materias form input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
}

.form_materias form textarea {
    outline: none;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    height: 230px;
}

.form_materias form textarea:focus {
    border: 2px solid #2684FF;
}

.form_materias form button{
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #28a745;
    background: #28a745;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.conten_materias_options{
    display: flex;
    gap: 10px;
    align-items: center;
}

.conten_materias_options img{
    width: 30px;
    height: 30px;
    border: 0px solid white;
    border-radius: 100%;
}

.card_conten_materias{
    margin: 30px 0px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item_card_materis{
    background: white;
    min-width: 35%;
    max-width: 30%;
    min-height: 190px;
    max-height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    border-radius: 5px;
}

body.dark .item_card_materis{
    background: #242526;
}

.item_card_materis h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.item_card_materis h3{
    margin: 10px 10px 0px 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.item_card_materis p{
    margin: 0px 10px 0px 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.item_butones{
    display: flex;
    gap: 10px;
    margin: 10px 10px 10px 20px;
    flex-wrap: wrap;
}

.item_butones .eliminar{
    background: #dc3545;
    border: 1px solid #dc3545;
}

.item_butones .editar{
    background:#ffc107;
    border: 1px solid #ffc107;
}

.item_butones button{
    margin-left: 0px;
}

.item_materias{
    display: flex;
    flex-wrap: wrap;
}