
.conten_docente{
    position: relative;
    width: 100%;
    height: 100%;
}

.conte_back_docente{
    padding: 10px 0px 0px 20px;
}

/* .bi-arrow-left-circle-fill{
    cursor: pointer;
} */

.card_conten_docente{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 10px 20px 20px;
}

.item_docente{
    width: 390px;
    min-height: 440px;
    max-height: 850px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 20px;
}

body.dark .item_docente{
    background: #242526;
}

.image_docente{
    width: 35%;
    height: 35%;
    margin: 10px auto 0px auto;
}

.image_docente img{
    width: 100%;
    height: 100%;
    border: 5px solid #E6E7E8;
    margin-top: 10px;
    border-radius: 100%;
}

.item_docente span{
    margin: 0px 0px 0px 20px;
    text-transform: uppercase;
}

.item_docente h3{
    margin: 0px 0px 0px 20px;
    text-transform: uppercase;
}

.conctato_docen{
    margin-top: 10px;
}

.conctato_docen h4{
    text-align: center;
    text-transform: uppercase;
}

.conctato_docen h5{
    margin: 0px 10px 0px 20px;
    
}

.item_docente hr{
    width: 50%;
    margin: 10px auto 0px auto;
    height: 0.5px;
    border: none;
    border-top: 1px solid #999;
    background-color: #fff;
}

.item_docente button{
    padding: 10px 0;
    width: 200px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #28a745;
    background: #28a745;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.emergente_docentes{
    width: 100%;
    min-height: 1000vw;
    /* max-height: 100%; */
    background: #33333380;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

body.dark .emergente_docentes{
    background: #CCCCCC80;
}

.conten_form_docentes{
    width: 45%;
    height: 30vh;
    background: white;
    display: none;
    margin-top: 20px;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    border-radius: 5px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emergente_docentes .conten_form_docentes{
    display: block;
}

body.dark .conten_form_docentes{
    background: #242526;
}

.conten_form_docentes form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

body.dark .conten_form_docentes form{
    color: black;
}

.conten_form_docentes form button{
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #28a745;
    background: #28a745;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.conten_form_docentes i{
    float: right;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
}

.asignaturas{
    margin: 0px 10px 0px 20px;
}

.asignaturas p{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.asignaturas h5{
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
}

.asignaturas .asignaturas_materias{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px -20px;
}